Repository sanixstudio/arcane-404-blog-adi-version: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run style:lint, npm run style:format

update files
  app.js
  controllers/_Blog.controllers.js
  controllers/_User.controllers.js
  controllers/_Vote.controllers.js
  controllers/index.js
  model/_Blog.model.js
  model/_User.model.js
  model/_Vote.model.js
  model/index.js
  routes/Blog.routes.js
  routes/_Blog.routes.js
  routes/_User.routes.js
  routes/_Vote.routes.js
  routes/index.js
Due: npm run style:lint

add controllers for blog routes
  app.js
  controllers/_Blog.controllers.js
  model/_Blog.model.js
  routes/_Blog.routes.js
  routes/_Vote.routes.js
  routes/index.js
Due: npm run style:lint

update auth hooks, include Alert, refactor utils
  client/src/components/Input/index.jsx
  client/src/components/Main/_Main.styles.js
  client/src/components/Main/index.jsx
  client/src/components/index.js
  client/src/connections/Alert/_Alert.jsx
  client/src/connections/Alert/_Alert.styles.js
  client/src/connections/Alert/index.jsx
  client/src/connections/TextField/_TextField.jsx
  client/src/connections/TextField/index.jsx
  client/src/connections/index.js
  client/src/containers/FooterNavigation/index.jsx
  client/src/containers/HeaderOption/index.jsx
  client/src/containers/LoginForm/_LoginForm.jsx
  client/src/containers/LoginForm/_LoginForm.styles.js
  client/src/containers/LoginForm/index.jsx
  client/src/containers/RegisterForm/_RegisterForm.jsx
  client/src/containers/RegisterForm/_RegisterForm.styles.js
  client/src/containers/RegisterForm/index.jsx
  client/src/hooks/_useLogin.js
  client/src/hooks/_useRegister.js
  client/src/hooks/index.js
  client/src/json/_auth.json
  client/src/json/_authAttributes.json
  client/src/json/index.js
  client/src/pages/authentication/_LoginPage.jsx
  client/src/pages/authentication/_RegisterPage.jsx
  client/src/utils/_authAttributes.js
  client/src/utils/_helpers.js
  client/src/utils/_loginSchemaProps.js
  client/src/utils/_registerSchemaProps.js
  client/src/utils/index.js
  package.json
  utils/_
Due: npm run style:lint, npm run style:format

created postcard component
  client/src/App.jsx
  client/src/containers/PostCard/_PostCard.jsx
  client/src/containers/PostCard/_PostCard.styles.js
  client/src/containers/PostCard/index.jsx
  client/src/containers/index.js
Due: npm run style:lint

set dynamic props
  client/src/App.jsx
  client/src/containers/PostCard/_PostCard.styles.js
  client/src/containers/PostCard/index.jsx
  client/src/pages/authentication/_RegisterPage.jsx
  client/src/pages/blog-post/_HomePage.jsx
Due: npm run style:lint

setup api services, update auth json, include localforage
  client/src/App.jsx
  client/src/hooks/_useAuth.js
  client/src/hooks/_useLogin.js
  client/src/hooks/_useRegister.js
  client/src/hooks/_useStorage.js
  client/src/hooks/index.js
  client/src/json/_auth.json
  client/src/json/_user.json
  client/src/services/_
  client/src/services/_Blog.services.js
  client/src/services/_User.services.js
  client/src/services/api.js
  client/src/services/index.js
  client/src/utils/_helpers.js
Due: npm run style:lint, npm run style:format

revert react-router, connect api w/ auth, update api calls
  README.md
  app.js
  client/package.json
  client/src/App.jsx
  client/src/containers/HeaderOption/index.jsx
  client/src/context/_AuthContext.jsx
  client/src/hooks/_useAuth.js
  client/src/hooks/_useLogin.js
  client/src/hooks/_useRegister.js
  client/src/pages/blog-post/_HomePage.jsx
  client/src/routes/_PrivateRoutes.jsx
  client/src/routes/_ProtectedRoutes.jsx
  client/src/services/_Blog.services.js
  client/src/services/_User.services.js
  client/src/utils/_helpers.js
  config/connection.js
  controllers/_User.controllers.js
  index.js
  middlewares/_auth.js
  middlewares/_auth_admin.js
  middlewares/auth.js
  middlewares/auth_admin.js
  middlewares/index.js
  package.json
  routes/_Blog.routes.js
Due: npm run style:lint, npm run style:format

add user id to votes array
  controllers/_Blog.controllers.js
  controllers/_Vote.controllers.js
  controllers/index.js
  model/_Blog.model.js
  model/_Vote.model.js
  model/index.js
  routes/_Blog.routes.js
Due: npm run style:lint

add vote logic for voting more than once
  controllers/_Blog.controllers.js
Due: npm run style:lint

update more important info onto README
  README.md
Due: npm run style:format

edit minor typo, include more accordion
  README.md
Due: npm run style:format

minro Auth Context fix
  client/src/App.jsx
  client/src/context/_AuthContext.jsx
  client/src/hooks/_useStorage.js
Due: npm run style:lint

integrate backend logic for voting system
  controllers/_Blog.controllers.js
  routes/_Blog.routes.js
Due: npm run style:lint

pages/passed props
  client/src/containers/PostCard/index.jsx
  client/src/pages/blog-post/_HomePage.jsx
Due: npm run style:lint

pages/created an error page w/ routes
  client/src/App.jsx
  client/src/pages/error/_ErrorPage.jsx
  client/src/pages/index.js
Due: npm run style:lint

final updates for the day
  controllers/_Blog.controllers.js
  model/_Blog.model.js
  routes/_Blog.routes.js
Due: npm run style:lint

minor file update
  client/src/App.jsx
Due: npm run style:lint

email confirm controllers, routes
  app.js
  config/connection.js
  controllers/_User.controllers.js
  index.js
  model/_User.model.js
  model/_Verify.model.js
  model/index.js
  package.json
  services/_verifyEmail.js
  services/index.js
Due: npm run style:lint, npm run style:format

added verifyuser routes and controllers
  .eslintrc.json
  README.md
  app.js
  client/src/json/_auth.json
  client/src/json/_authAttributes.json
  client/src/json/_posts.json
  client/src/json/_user.json
  controllers/_User.controllers.js
  controllers/_Verify.controllers.js
  middlewares/_auth.js
  middlewares/_auth_admin.js
  model/_Verify.model.js
  routes/_User.routes.js
  services/_verifyEmail.js
Due: npm run style:lint, npm run style:format

done frontend redirect
  README.md
  app.js
  client/src/App.jsx
  client/src/pages/blog-post/_ConfirmPage.jsx
  client/src/pages/index.js
Due: npm run style:lint, npm run style:format

added resendconfirm; fixed login logic
  client/src/hooks/_useLogin.js
  client/src/pages/blog-post/_ConfirmPage.jsx
  controllers/_User.controllers.js
  routes/_User.routes.js
Due: npm run style:lint

built inputfield
  client/src/components/Form/_Form.styles.js
  client/src/components/Form/index.jsx
  client/src/components/index.js
  client/src/connections/FormControls/TextField/_TextField.jsx
  client/src/connections/FormControls/TextField/_TextField.styles.js
  client/src/connections/FormControls/TextField/index.jsx
  client/src/connections/FormControls/index.js
  client/src/connections/index.js
  client/src/containers/TestForm/index.jsx
  client/src/containers/index.js
  client/src/pages/authentication/_LoginPage.jsx
Due: npm run style:lint

need fix: resend redirect
  client/src/App.jsx
  client/src/context/_AuthContext.jsx
  client/src/hooks/_useAuth.js
  client/src/hooks/_useLogin.js
  client/src/index.js
  client/src/pages/blog-post/_ResendPage.jsx
  client/src/pages/index.js
Due: npm run style:lint

create active nav link
  client/src/components/Wrap/_Wrap.styles.js
  client/src/components/Wrap/index.jsx
  client/src/connections/Logo/_Logo.styles.js
  client/src/connections/NavLink/_NavLink.jsx
  client/src/connections/NavLink/_NavLink.styles.js
  client/src/connections/NavLink/index.jsx
  client/src/connections/index.js
  client/src/containers/FooterNavigation/_Footer.jsx
  client/src/containers/FooterNavigation/_Footer.styles.js
  client/src/containers/FooterNavigation/index.jsx
  client/src/containers/HeaderOption/_Header.styles.js
Due: npm run style:lint

create Frame to manage all wrapper types
  client/src/components/Form/_Form.styles.js
  client/src/components/Frame/_Wrap.styles.js
  client/src/components/Frame/index.jsx
  client/src/components/Main/_Main.styles.js
  client/src/components/Wrap/_Wrap.styles.js
  client/src/components/Wrap/index.jsx
  client/src/components/index.js
  client/src/connections/FormControls/TextField/_TextField.jsx
  client/src/connections/FormControls/TextField/_TextField.styles.js
  client/src/connections/NavLink/_NavLink.styles.js
  client/src/connections/TextField/_TextField.jsx
  client/src/connections/TextField/_TextField.styles.js
  client/src/connections/TextField/index.jsx
  client/src/connections/index.js
  client/src/containers/FooterNavigation/_Footer.jsx
  client/src/containers/FooterNavigation/_Footer.styles.js
  client/src/containers/FooterNavigation/index.jsx
  client/src/containers/LoginForm/index.jsx
  client/src/containers/RegisterForm/index.jsx
  client/src/pages/authentication/_LoginPage.jsx
  client/src/pages/authentication/_RegisterPage.jsx
Due: npm run style:lint

fixed resend feature
  client/src/App.jsx
  client/src/containers/LoginForm/index.jsx
  client/src/context/_AuthContext.jsx
  client/src/hooks/_useAuth.js
  client/src/hooks/_useLogin.js
  client/src/hooks/_useRegister.js
  client/src/pages/blog-post/_ResendPage.jsx
  client/src/pages/index.js
Due: npm run style:lint

connections/created upvote and downvote components
  client/src/connections/DownVote/_DownVote.jsx
  client/src/connections/DownVote/_DownVote.styles.js
  client/src/connections/DownVote/index.jsx
  client/src/connections/UpVote/_UpVote.jsx
  client/src/connections/UpVote/_UpVote.styles.js
  client/src/connections/UpVote/index.jsx
  client/src/connections/index.js
  client/src/containers/PostCard/index.jsx
  client/src/pages/blog-post/_HomePage.jsx
Due: npm run style:lint

created form TextArea
  client/src/components/TextArea/_TextArea.styles.js
  client/src/components/TextArea/index.jsx
  client/src/components/index.js
  client/src/connections/FormControls/TextAreaField/_TextAreaField.jsx
  client/src/connections/FormControls/TextAreaField/_TextAreaField.styles.js
  client/src/connections/FormControls/TextAreaField/index.jsx
  client/src/connections/FormControls/index.js
  client/src/containers/TestForm/index.jsx
  client/src/hooks/_usePost.js
  client/src/hooks/index.js
  client/src/pages/blog-post/_PostPage.jsx
Due: npm run style:lint

feature/handle routes from Home Page to Content Page
  client/src/containers/PostCard/index.jsx
  client/src/pages/blog-post/_HomePage.jsx
Due: npm run style:lint

content/pushed data from PostCard to ContentPage
  client/src/pages/blog-post/_HomePage.jsx
Due: npm run style:lint

Handled Post form with validation
  client/src/components/Button/_Button.styles.js
  client/src/components/Form/_Form.styles.js
  client/src/components/Menu/_Menu.styles.js
  client/src/components/Menu/index.jsx
  client/src/components/Option/_Option.styles.js
  client/src/components/Option/index.jsx
  client/src/components/TextArea/_TextArea.styles.js
  client/src/components/index.js
  client/src/connections/FormControls/MenuField/_MenuField.jsx
  client/src/connections/FormControls/MenuField/_MenuField.styles.js
  client/src/connections/FormControls/MenuField/index.jsx
  client/src/connections/FormControls/index.js
  client/src/containers/PostForm/index.jsx
  client/src/containers/TestForm/index.jsx
  client/src/containers/_/_PostForm.jsx
  client/src/containers/_/_PostForm.styles.js
  client/src/containers/_/index.jsx
  client/src/containers/index.js
  client/src/hooks/_usePost.js
  client/src/pages/blog-post/_PostPage.jsx
Due: npm run style:lint

update verification code style
  client/src/containers/LoginForm/index.jsx
  client/src/hooks/_useLogin.js
  client/src/hooks/_useRegister.js
  client/src/pages/authentication/_ConfirmPage.jsx
  client/src/pages/blog-post/_ConfirmPage.jsx
  client/src/pages/index.js
  client/src/services/_User.services.js
  controllers/_User.controllers.js
  middlewares/_auth.js
  middlewares/_auth_admin.js
  model/_Verify.model.js
  services/_verifyEmail.js
Due: npm run style:lint

update model for blog
  controllers/_Blog.controllers.js
  model/_Blog.model.js
Due: npm run style:lint

completed form validation
  client/src/containers/PostForm/index.jsx
  client/src/hooks/_usePost.js
Due: npm run style:lint

removed duplicated values and applied proper values
  client/src/hooks/_usePost.js
Due: npm run style:lint

feature/blog data correctly shows on ContentPage
  client/src/App.jsx
  client/src/containers/ContentCard/_ContentCard.jsx
  client/src/containers/ContentCard/_ContentCard.styles.js
  client/src/containers/ContentCard/index.jsx
  client/src/containers/PostCard/index.jsx
  client/src/containers/index.js
  client/src/pages/blog-post/_ContentPage.jsx
  client/src/pages/blog-post/_HomePage.jsx
Due: npm run style:lint

Path conditions:
  npm run style:lint: any of: *.{js,jsx}
  npm run style:format: any of: *.{json,md,mdx}
